<section class="flight">
  <h6 class="attr">Starting airport: <%= flight.start_airport.code %></h6>
  <h6 class="attr">Ending airport: <%= flight.end_airport.code %></h6>
  <h6 class="attr">Date: <%= flight.date %></h6>
  <h6 class="attr">Time: <%= flight.start_time %></h6>
</section>
